<div class="header-container">
  <img src="../../assets/logo.svg" alt="logo" class="logo" />
  <div class="menu-container" *ngIf="!mobileView">
    <ng-container *ngFor="let menu of submenu">
      <div class="submenu-container">
        <span class="submenu">{{ menu }}</span>
      </div>
    </ng-container>
  </div>

  <button *ngIf="!mobileView" class="request-btn">{{ Label.btn }}</button>
  <img
    src="{{ icon }}"
    alt="icon-hamburger"
    class="hamburger"
    (click)="onClickMobileMenu()"
  />
  <div *ngIf="" class="menu-hover-container"></div>
</div>
