.header-container {
  display: flex;
  padding: 20px 11.5%;
  align-items: center;
  font-family: "PublicSans";
  justify-content: space-between;
}
.left {
  width: 65%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logo {
  width: 146px;
  height: 22px;
}
.menu-container {
  display: flex;
  font-size: 16px;
  gap: 27px;
  font-weight: 500;
  flex-wrap: wrap;
  color: hsl(233, 8%, 62%);
}
.request-btn {
  font-family: "PublicSans";
  color: white;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  font-size: 15px;
  padding: 14px 35px;
  border-radius: 30px;
  font-weight: 600;
}
